#mirrorVideo {
  margin: 0 auto;
}

#wait {
  font-size: 3em;
}

#wait progress {
  position: fixed;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
}

#video, #pong, #playButton[play="true"] {
  display: none;
}

circle {
  stroke: black;
  stroke-width: 5px;
  fill-opacity: 0;
}

path {
  fill: black;
  stroke: black;
}

#stopButton path {
  stroke-width: 10px;
}

svg {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

#player {
  display: none;
  float: left;
  margin-right: 100px;
  text-align: center;
}

#player {
  position: relative;
}

#stopButton {
  display: none;
  opacity: 0.3;
}

#stopButton[play="true"] {
  display: block;
}

#stopButton:hover {
  opacity: 1;
}

#playButton:hover circle {
  stroke-width: 10;
}
